.main-content-aboutMeContent-text3 {
    position: absolute;
    top: 95vh;
    left: 20vw;
}

.main-content-aboutMeContent-text3-letter1 {
    position: absolute;
    top: 19vh;
    left: 19vw;
    font-size: 20px;
}

.main-content-aboutMeContent-text3-letter2 {
    position: absolute;
    top: 19vh;
    left: 20vw;
    font-size: 20px;
}

.main-content-aboutMeContent-text3-letter3 {
    position: absolute;
    top: 19vh;
    left: 21vw;
    font-size: 20px;
}

.main-content-aboutMeContent-text3-letter4 {
    position: absolute;
    top: 19vh;
    left: 22vw;
    font-size: 20px;
}

.main-content-aboutMeContent-text3-letter5 {
    position: absolute;
    top: 19vh;
    left: 24vw;
    font-size: 20px;
}

.main-content-aboutMeContent-text3-letter6 {
    position: absolute;
    top: 19vh;
    left: 25vw;
    font-size: 20px;
}

.main-content-aboutMeContent-text3-letter7 {
    position: absolute;
    top: 19vh;
    left: 27vw;
    font-size: 20px;
}

.main-content-aboutMeContent-text3-letter8 {
    position: absolute;
    top: 19vh;
    left: 28vw;
    font-size: 20px;
}

.main-content-aboutMeContent-text3-letter9 {
    position: absolute;
    top: 19vh;
    left: 29vw;
    font-size: 20px;
}

.main-content-aboutMeContent-text3-letter10 {
    position: absolute;
    top: 19vh;
    left: 30vw;
    font-size: 20px;
}

.main-content-aboutMeContent-text3-letter11 {
    position: absolute;
    top: 19vh;
    left: 31vw;
    font-size: 20px;
}

.main-content-aboutMeContent-text3-letter12 {
    position: absolute;
    top: 19vh;
    left: 32vw;
    font-size: 20px;
}

.main-content-aboutMeContent-text3-letter13 {
    position: absolute;
    top: 19vh;
    left: 33vw;
    font-size: 20px;
}

.main-content-aboutMeContent-text3-letter14 {
    position: absolute;
    top: 19vh;
    left: 34vw;
    font-size: 20px;
}

.main-content-aboutMeContent-text3-letter15 {
    position: absolute;
    top: 19vh;
    left: 35vw;
    font-size: 20px;
}

.main-content-aboutMeContent-text3-letter16 {
    position: absolute;
    top: 19vh;
    left: 36vw;
    font-size: 20px;
}
.main-content-aboutMeContent-text3-animation {
    animation: move3 5s ease-in-out forwards;
}