/* for img in about me */
@keyframes IMGresize {
    0% {
        /*transform: scaleX(-1);*/
        transform: translate(-20vw);
    }

    60% {
        border-radius: 0%;
    }

    100% {
        border-radius: 99%;
    }
}

/* word move in place */
@keyframes move1 {
    0% {
        opacity: 0.0;
    }

    /*50% {
        opacity: 1.5;
    }*/

    100% {
        opacity: 1.5;
        top: 10vh;
        left: 11vw;
        font-size: 20px;
    }
}

@keyframes move2 {
    0% {
        opacity: 0.0;
    }

    /*50% {
        opacity: 1.5;
    }*/

    100% {
        opacity: 1.5;
        top: 14vh;
        left: 11vw;
        font-size: 20px;
    }
}

@keyframes move3 {
    0% {
        opacity: 0.0;
    }

    /*50% {
        opacity: 1.5;
    }*/

    100% {
        opacity: 1.5;
        top: 19vh;
        left: 11vw;
        font-size: 20px;
    }
}

