@import "tab1.css";
@import "tab2.css";
@import "tab3.css";

@media (max-width: 1871px) {
        body {
            background-color: black;
        }
        
        .main {
            position: absolute;
            margin: -8px;
            width: 100vw;
            height: 100vw;
        }
        
        .main-content {
            color: white;
        }
}