@import "animations.css";
:root {
--tab-border: 1px;
--tab-height: auto;
--tab-width: 10;
--tab-fontSize: 100%;
}
body {
    background-color: black;
}

.main {
    position: absolute;
    margin: -8px;
    width: 99.9%;
    height: 100%;
}

.main-tabBar {
    position: relative;
    margin: 8px;
    border-style: solid;
    border-color: white;
    border-width: var(--tab-border);
    display: flex;
    justify-content: center;
    width: 99vw;
    height: auto;
}

.main-tabBar-list {
    display:flex;
    width: 5vw;
    position: relative;
}

@media all and (max-width: 859px) {
    .main-tabBar {
        position: relative;
        margin: 8px;
        border-style: solid;
        border-color: white;
        border-width: var(--tab-border);
        display: flex;
        justify-content: center;
        width: 98vw;
        height: auto;
    
    }
    .main-tabBar-list {
        display:flex;
        width: 5vw;
        position: relative;  
        left: -15%;  
    }
}

@media all and (max-width: 616px) {
    .main-tabBar {
        position: relative;
        margin: 8px;
        border-style: solid;
        border-color: white;
        border-width: var(--tab-border);
        display: flex;
        justify-content: center;
        width: 97vw;
        height: auto;
    
    }
    .main-tabBar-list {
        display:flex;
        width: 5vw;
        position: relative;  
        left: -15%;  
    }
}

.main-tabBar-tab1 {
    position: relative;
    left: -20vw;
    margin: -8px;
    width: var(--tab-width);
    height: var(--tab-height);
    font-size: var(--tab-fontSize);
    background-color: white;
    color: black;
    border-color: white;
    border-width: 1vw;
    text-underline-position: below;
    text-decoration-line: underline;
    text-decoration-color: white;
}

.main-tabBar-tab1-animation {
    animation: tab1 2s ease-in-out forwards;
}

.main-tabBar-tab2 {
    position: relative;
    margin: -8px;
    width: var(--tab-width);
    height: var(--tab-height);
    font-size: var(--tab-fontSize);
    color: black;
    border-color: white;
    border-width: 1vw;
    text-underline-position: below;
    text-decoration-line: underline;
    text-decoration-color: white;
}

.main-tabBar-tab2-animation {
    animation: tab2 2s ease-in-out forwards;
}

.main-tabBar-tab3 {
    position: relative;
    left: 20vw;
    margin: -8px;
    width: var(--tab-width);
    height: var(--tab-height);
    font-size: var(--tab-fontSize);
    background-color: white;
    color: black;
    border-color: white;
    border-width: 1vw;
    text-underline-position: below;
    text-decoration-line: underline;
    text-decoration-color: white;
}

.main-tabBar-tab3-animation {
    animation: tab3 2s ease-in-out forwards;
}

.main-tabBar-tab-select {
    background-color: black;
    color: white;
}

/* main content */
.main-content {
    color: white;
}

.main-content-aboutMeContent-img1 {
    position: absolute;
    width: 10vw;
    height: 20vh;
}

.main-content-aboutMeContent-img1-animation {
    animation: IMGresize 10s ease-in-out forwards;
}

.main-content-aboutMeContent-text1 {
    position: absolute;
    top: 70vh;
    left: 90vw;
}

.main-content-aboutMeContent-text1-animation {
    animation: move1 10s ease-in-out forwards;
}

.main-content-aboutMeContent-text1-letter1 {
    position: absolute;
    opacity: 1.5;
    top: 10vh;
    left: 16vw;
    font-size: 20px;
}

.main-content-aboutMeContent-text1-letter2 {
    position: absolute;
    opacity: 1.5;
    top: 10vh;
    left: 17vw;
    font-size: 20px;
}


.main-content-aboutMeContent-text1-letter3 {
    position: absolute;
    opacity: 1.5;
    top: 10vh;
    left: 18vw;
    font-size: 20px;
}

.main-content-aboutMeContent-text1-letter4 {
    position: absolute;
    opacity: 1.5;
    top: 10vh;
    left: 20vw;
    font-size: 20px;
}

.main-content-aboutMeContent-text1-letter5 {
    position: absolute;
    opacity: 1.5;
    top: 10vh;
    left: 21vw;
    font-size: 20px;
}

.main-content-aboutMeContent-text1-letter6 {
    position: absolute;
    opacity: 1.5;
    top: 10vh;
    left: 22vw;
    font-size: 20px;
}

.main-content-aboutMeContent-text1-letter7 {
    position: absolute;
    opacity: 1.5;
    top: 10vh;
    left: 23vw;
    font-size: 20px;
}

.main-content-aboutMeContent-text2 {
    position: absolute;
    top: 50vh;
    left: 50vw;
}

.main-content-aboutMeContent-text2-number1 {
    position: absolute;
    top: 14vh;
    left: 16vw;
    font-size: 20px;
}

.main-content-aboutMeContent-text2-number2 {
    position: absolute;
    top: 14vh;
    left: 17vw;
    font-size: 20px;
}

.main-content-aboutMeContent-text2-animation {
    animation: move2 10s ease-in-out forwards;
}

.main-content-aboutMeContent-text3 {
    position: absolute;
    top: 95vh;
    left: 20vw;
}

.main-content-aboutMeContent-text3-letter1 {
    position: absolute;
    top: 19vh;
    left: 19vw;
    font-size: 20px;
}

.main-content-aboutMeContent-text3-letter2 {
    position: absolute;
    top: 19vh;
    left: 20vw;
    font-size: 20px;
}

.main-content-aboutMeContent-text3-letter3 {
    position: absolute;
    top: 19vh;
    left: 21vw;
    font-size: 20px;
}

.main-content-aboutMeContent-text3-letter4 {
    position: absolute;
    top: 19vh;
    left: 22vw;
    font-size: 20px;
}

.main-content-aboutMeContent-text3-letter5 {
    position: absolute;
    top: 19vh;
    left: 24vw;
    font-size: 20px;
}

.main-content-aboutMeContent-text3-letter6 {
    position: absolute;
    top: 19vh;
    left: 25vw;
    font-size: 20px;
}

.main-content-aboutMeContent-text3-letter7 {
    position: absolute;
    top: 19vh;
    left: 27vw;
    font-size: 20px;
}

.main-content-aboutMeContent-text3-letter8 {
    position: absolute;
    top: 19vh;
    left: 28vw;
    font-size: 20px;
}

.main-content-aboutMeContent-text3-letter9 {
    position: absolute;
    top: 19vh;
    left: 29vw;
    font-size: 20px;
}

.main-content-aboutMeContent-text3-letter10 {
    position: absolute;
    top: 19vh;
    left: 30vw;
    font-size: 20px;
}

.main-content-aboutMeContent-text3-letter11 {
    position: absolute;
    top: 19vh;
    left: 31vw;
    font-size: 20px;
}

.main-content-aboutMeContent-text3-letter12 {
    position: absolute;
    top: 19vh;
    left: 32vw;
    font-size: 20px;
}

.main-content-aboutMeContent-text3-letter13 {
    position: absolute;
    top: 19vh;
    left: 33vw;
    font-size: 20px;
}

.main-content-aboutMeContent-text3-letter14 {
    position: absolute;
    top: 19vh;
    left: 34vw;
    font-size: 20px;
}

.main-content-aboutMeContent-text3-letter15 {
    position: absolute;
    top: 19vh;
    left: 35vw;
    font-size: 20px;
}

.main-content-aboutMeContent-text3-letter16 {
    position: absolute;
    top: 19vh;
    left: 36vw;
    font-size: 20px;
}
.main-content-aboutMeContent-text3-animation {
    animation: move3 10s ease-in-out forwards;
}