@media (max-width: 2400px) {
    @keyframes letterSee {
        0% {
            opacity: 0.0;
        }
        100% {
            opacity: 1.5;
        }
    }
    @keyframes IMGresize {
        0% {
            /*transform: scaleX(-1);*/
            transform: translate(-20vw);
        }
    
        60% {
            border-radius: 0%;
        }
    
        100% {
            border-radius: 99%;
        }
    }    
    @keyframes textComeOut3 {
        0%{
            position: absolute;
            top: 15vh;
            left: 75vw;
            font-size: 1%;
            color: black;
            }
    
            70%{
                position: absolute;
                top: 15vh;
                left: 75vw;
                font-size: 1%;
                color: black;
                }
        
        100%{
            position: absolute;
            top: 59vh;
            left: 75vw;
            font-size: 1vw;
            color: white;
            }
    } 
    @keyframes textComeOut2 {
        0%{
            position: absolute;
            top: 15vh;
            left: 51vw;
            font-size: 1%;
            color: black;
            }
    
            70%{
                position: absolute;
                top: 15vh;
                left: 51vw;
                font-size: 1%;
                color: black;
                }
        
        100%{
            position: absolute;
            top: 56vh;
            left: 50vw;
            font-size: 1vw;
            color: white;
            }
    }    
    @keyframes textComeOut1 {
        0%{
            position: absolute;
            top: 15vh;
            left: 25vw;
            color: black;
            }
    
            70%{
                position: absolute;
                top: 15vh;
                left: 25vw;
                color: black;
                }
        
        100%{
            position: absolute;
            top: 82vh;
            left: 25vw;
            font-size: 1vw;
            color: white;
            }
    }    
    @keyframes imgSize3 {
        0% {
            position: absolute;
            left: 75%;
            width: 0%;
            height: 0%;
            }
    
        100% {
            position: absolute;
            left: 75%;
            width: 24.7%;
            height: 24.7%;
            }
    }    
    @keyframes imgSize2 {
        0% {
            position: absolute;
            left: 51%;
            width: 0%;
            height: 0%;
            }
    
        100% {
            position: absolute;
            left: 51%;
            width: 23%;
            height: 23%;
            }
    }    
    @keyframes imgSize1 {
        0% {
            position: absolute;
            left: 25%;
            width: 0%;
            height: 0%;
            }
    
        100% {
            position: absolute;
            left: 25%;
            width: 25%;
            height: 35%;
            }
    }    
    @keyframes info-Text1 {
        0% {
            /*position: absolute;*/
            opacity: 0.0;
            /*top: 10vh;
            left: 16vw;
            font-size: 20px;*/
        }
        70% {
            /*position: absolute;*/
            opacity: 0.0;
            /*top: 10vh;
            left: 16vw;
            font-size: 20px;*/    
        }
        100% {
            /*position: absolute;*/
            opacity: 1.5;
            /*top: 10vh;
            left: 16vw;
            font-size: 20px;*/    
        }
    }    
    .main-content-aboutMeContent-text2-number1 {
        position: absolute;
        top: 16vh;
        left: 16vw;
        font-size: 20px;
    }
    .main-content-aboutMeContent-text2-number1-animation {
        animation: info-Text1 7s ease-out forwards;
    }
    .main-content-aboutMeContent-text2-number2 {
        position: absolute;
        top: 14vh;
        left: 17vw;
        font-size: 20px;
    }
    .main-content-aboutMeContent-text2-number2-animation {
        animation: info-Text1 8s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter0-opacity0 {
        opacity: 0.0;
        animation: letterSee 1s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter1-opacity0 {
        opacity: 0.0;
        animation: letterSee 2s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter2-opacity0 {
        opacity: 0.0;
        animation: letterSee 3s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter3-opacity0 {
        opacity: 0.0;
        animation: letterSee 4s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter4-opacity0 {
        opacity: 0.0;
        animation: letterSee 5s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter5-opacity0 {
        opacity: 0.0;
        animation: letterSee 6s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter6-opacity0 {
        opacity: 0.0;
        animation: letterSee 7s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter7-opacity0 {
        opacity: 0.0;
        animation: letterSee 8s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter8-opacity0 {
        opacity: 0.0;
        animation: letterSee 9s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter9-opacity0 {
        opacity: 0.0;
        animation: letterSee 10s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter10-opacity0 {
        opacity: 0.0;
        animation: letterSee 11s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter11-opacity0 {
        opacity: 0.0;
        animation: letterSee 12s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter12-opacity0 {
        opacity: 0.0;
        animation: letterSee 13s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter13-opacity0 {
        opacity: 0.0;
        animation: letterSee 14s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter14-opacity0 {
        opacity: 0.0;
        animation: letterSee 15s ease-out forwards;
    }    
    .main-content-aboutMeContent-text3-letter15-opacity0 {
        opacity: 0.0;
        animation: letterSee 16s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter16-opacity0 {
        opacity: 0.0;
        animation: letterSee 17s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter17-opacity0 {
        opacity: 0.0;
        animation: letterSee 18s ease-out forwards;
    }
    #main-content-aboutMeContent-text1-letter1 {
        position: absolute;
        opacity: 1.5;
        top: 12vh;
        left: 16vw;
        font-size: +20px;
    }
    .main-content-aboutMeContent-text1-letter1-animation {
        animation: info-Text1 7s ease-out forwards;
    }
    .main-content-aboutMeContent-text1 {
        position: absolute;
        top: 70vh;
        left: 90vw;
    }
    
    .main-content-aboutMeContent-text1-animation {
        animation: move1 5s ease-in-out forwards;
    }
    .main-content-aboutMeContent-text2 {
        position: absolute;
        top: 50vh;
        left: 50vw;
    }
    
    .main-content-aboutMeContent-text2-animation {
        animation: move2 5s ease-in-out forwards;
    }
    .main-content-aboutMeContent-text3 {
        position: absolute;
        top: 95vh;
        left: 20vw;
    }
    .main-content-aboutMeContent-text3-letter1 {
        position: absolute;
        top: 21vh;
        left: 16vw;
        font-size: 20px;
    }
    
    .main-content-aboutMeContent-text3-animation {
        animation: move3 5s ease-in-out forwards;
    }    
    .main-content-aboutMeContent-rewardContent-img1 {
        position: absolute;
        top: 11vh;
        left: 25vh;
        width: 25vw;
        height: 35vh;
        animation: imgSize1 8s ease-in-out forwards;
    }
    .main-content-aboutMeContent-rewardContent-img2 {
        position: absolute;
        top: 11vh;
        left: 51vw;
        width: 23vw;
        height: 23vh;
        animation: imgSize2 8s ease-in-out forwards;
    }
    .main-content-aboutMeContent-rewardContent-img3 {
        position: absolute;
        top: 11vh;
        left: 75vw;
        width: 24.7vw;
        height: 24.7vh;
        animation: imgSize3 8s ease-in-out forwards;
    }
    .main-content-aboutMeContent-rewardContent-text1 {
        position: absolute;
        top: 46vh;
        left: 25vw;
        animation: textComeOut1 8s ease-in-out forwards;
    }
    .main-content-aboutMeContent-rewardContent-text2 {
        position: absolute;
        top: 35vh;
        left: 51vw;
        width: 22vw;
        font-size: 66%;
        animation: textComeOut2 8s ease-in-out forwards;
    }
    .main-content-aboutMeContent-rewardContent-text3 {
        position: absolute;
        top: 35vh;
        left: 75vw;
        font-size: 66%;
        animation: textComeOut3 8s ease-in-out forwards;
    }
    .main-content-aboutMeContent-img1 {
        position: absolute;
        top: 11vh;
        width: 10vw;
        height: 20vh;
    }
    
    .main-content-aboutMeContent-img1-animation {
        animation: IMGresize 5s ease-in-out forwards;
    }    
}

@media (max-width: 1200px) {
    @keyframes letterSee {
        0% {
            opacity: 0.0;
        }
        100% {
            opacity: 1.5;
        }
    }
    @keyframes IMGresize {
        0% {
            /*transform: scaleX(-1);*/
            transform: translate(-20vw);
        }
    
        60% {
            border-radius: 0%;
        }
    
        100% {
            border-radius: 99%;
        }
    }    
    @keyframes textComeOut3 {
        0%{
            position: absolute;
            top: 15vh;
            left: 75vw;
            font-size: 1%;
            color: black;
            }
    
            70%{
                position: absolute;
                top: 15vh;
                left: 75vw;
                font-size: 1%;
                color: black;
                }
        
        100%{
            position: absolute;
            top: 46vh;
            left: 75vw;
            font-size: 1vw;
            color: white;
            }
    } 
    @keyframes textComeOut2 {
        0%{
            position: absolute;
            top: 15vh;
            left: 51vw;
            font-size: 1%;
            color: black;
            }
    
            70%{
                position: absolute;
                top: 15vh;
                left: 51vw;
                font-size: 1%;
                color: black;
                }
        
        100%{
            position: absolute;
            top: 45vh;
            left: 50vw;
            font-size: 1vw;
            color: white;
            }
    }    
    @keyframes textComeOut1 {
        0%{
            position: absolute;
            top: 15vh;
            left: 25vw;
            color: black;
            }
    
            70%{
                position: absolute;
                top: 15vh;
                left: 25vw;
                color: black;
                }
        
        100%{
            position: absolute;
            top: 60vh;
            left: 25vw;
            font-size: 1vw;
            color: white;
            }
    }    
    @keyframes imgSize3 {
        0% {
            position: absolute;
            left: 75%;
            width: 0%;
            height: 0%;
            }
    
        100% {
            position: absolute;
            left: 75%;
            width: 24.7%;
            height: 24.7%;
            }
    }    
    @keyframes imgSize2 {
        0% {
            position: absolute;
            left: 51%;
            width: 0%;
            height: 0%;
            }
    
        100% {
            position: absolute;
            left: 51%;
            width: 23%;
            height: 23%;
            }
    }    
    @keyframes imgSize1 {
        0% {
            position: absolute;
            left: 25%;
            width: 0%;
            height: 0%;
            }
    
        100% {
            position: absolute;
            left: 25%;
            width: 25%;
            height: 35%;
            }
    }    
    @keyframes info-Text1 {
        0% {
            /*position: absolute;*/
            opacity: 0.0;
            /*top: 10vh;
            left: 16vw;
            font-size: 20px;*/
        }
        70% {
            /*position: absolute;*/
            opacity: 0.0;
            /*top: 10vh;
            left: 16vw;
            font-size: 20px;*/    
        }
        100% {
            /*position: absolute;*/
            opacity: 1.5;
            /*top: 10vh;
            left: 16vw;
            font-size: 20px;*/    
        }
    }    
    .main-content-aboutMeContent-text2-number1 {
        position: absolute;
        top: 16vh;
        left: 16vw;
        font-size: 1vw;
    }
    .main-content-aboutMeContent-text2-number1-animation {
        animation: info-Text1 7s ease-out forwards;
    }
    .main-content-aboutMeContent-text2-number2 {
        position: absolute;
        top: 14vh;
        left: 17vw;
        font-size: 20px;
    }
    .main-content-aboutMeContent-text2-number2-animation {
        animation: info-Text1 8s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter0-opacity0 {
        opacity: 0.0;
        font-size: 1vw;
        animation: letterSee 1s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter1-opacity0 {
        opacity: 0.0;
        font-size: 1vw;
        animation: letterSee 2s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter2-opacity0 {
        opacity: 0.0;
        font-size: 1vw;
        animation: letterSee 3s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter3-opacity0 {
        opacity: 0.0;
        font-size: 1vw;
        animation: letterSee 4s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter4-opacity0 {
        opacity: 0.0;
        font-size: 1vw;
        animation: letterSee 5s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter5-opacity0 {
        opacity: 0.0;
        font-size: 1vw;
        animation: letterSee 6s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter6-opacity0 {
        opacity: 0.0;
        font-size: 1vw;
        animation: letterSee 7s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter7-opacity0 {
        opacity: 0.0;
        font-size: 1vw;
        animation: letterSee 8s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter8-opacity0 {
        opacity: 0.0;
        font-size: 1vw;
        animation: letterSee 9s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter9-opacity0 {
        opacity: 0.0;
        font-size: 1vw;
        animation: letterSee 10s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter10-opacity0 {
        opacity: 0.0;
        font-size: 1vw;
        animation: letterSee 11s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter11-opacity0 {
        opacity: 0.0;
        font-size: 1vw;
        animation: letterSee 12s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter12-opacity0 {
        opacity: 0.0;
        font-size: 1vw;
        animation: letterSee 13s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter13-opacity0 {
        opacity: 0.0;
        font-size: 1vw;
        animation: letterSee 14s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter14-opacity0 {
        opacity: 0.0;
        font-size: 1vw;
        animation: letterSee 15s ease-out forwards;
    }    
    .main-content-aboutMeContent-text3-letter15-opacity0 {
        opacity: 0.0;
        font-size: 1vw;
        animation: letterSee 16s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter16-opacity0 {
        opacity: 0.0;
        font-size: 1vw;
        animation: letterSee 17s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter17-opacity0 {
        opacity: 0.0;
        font-size: 1vw;
        animation: letterSee 18s ease-out forwards;
    }
    #main-content-aboutMeContent-text1-letter1 {
        position: absolute;
        opacity: 1.5;
        top: 12vh;
        left: 16vw;
        font-size: +20px;
    }
    .main-content-aboutMeContent-text1-letter1-animation {
        animation: info-Text1 7s ease-out forwards;
    }
    .main-content-aboutMeContent-text1 {
        position: absolute;
        top: 70vh;
        left: 90vw;
        font-size: 1vw;
    }
    
    .main-content-aboutMeContent-text1-animation {
        animation: move1 5s ease-in-out forwards;
    }
    .main-content-aboutMeContent-text2 {
        position: absolute;
        top: 50vh;
        left: 50vw;
    }
    
    .main-content-aboutMeContent-text2-animation {
        animation: move2 5s ease-in-out forwards;
    }
    .main-content-aboutMeContent-text3 {
        position: absolute;
        top: 95vh;
        left: 20vw;
    }
    .main-content-aboutMeContent-text3-letter1 {
        position: absolute;
        top: 18vh;
        left: 16vw;
        font-size: 20px;
    }
    
    .main-content-aboutMeContent-text3-animation {
        animation: move3 5s ease-in-out forwards;
    }    
    .main-content-aboutMeContent-rewardContent-img1 {
        position: absolute;
        top: 11vh;
        left: 25vh;
        width: 25vw;
        height: 35vh;
        animation: imgSize1 8s ease-in-out forwards;
    }
    .main-content-aboutMeContent-rewardContent-img2 {
        position: absolute;
        top: 11vh;
        left: 51vw;
        width: 23vw;
        height: 23vh;
        animation: imgSize2 8s ease-in-out forwards;
    }
    .main-content-aboutMeContent-rewardContent-img3 {
        position: absolute;
        top: 11vh;
        left: 75vw;
        width: 24.7vw;
        height: 24.7vh;
        animation: imgSize3 8s ease-in-out forwards;
    }
    .main-content-aboutMeContent-rewardContent-text1 {
        position: absolute;
        top: 46vh;
        left: 25vw;
        animation: textComeOut1 8s ease-in-out forwards;
    }
    .main-content-aboutMeContent-rewardContent-text2 {
        position: absolute;
        top: 35vh;
        left: 51vw;
        width: 22vw;
        font-size: 66%;
        animation: textComeOut2 8s ease-in-out forwards;
    }
    .main-content-aboutMeContent-rewardContent-text3 {
        position: absolute;
        top: 35vh;
        left: 75vw;
        font-size: 66%;
        animation: textComeOut3 8s ease-in-out forwards;
    }
    .main-content-aboutMeContent-img1 {
        position: absolute;
        top: 11vh;
        width: 10vw;
        height: 20vh;
    }
    
    .main-content-aboutMeContent-img1-animation {
        animation: IMGresize 5s ease-in-out forwards;
    }    
}

@media (max-width: 992px) {
    @keyframes letterSee {
        0% {
            opacity: 0.0;
        }
        100% {
            opacity: 1.5;
        }
    }
    @keyframes IMGresize {
        0% {
            /*transform: scaleX(-1);*/
            transform: translate(-20vw);
        }
    
        60% {
            border-radius: 0%;
        }
    
        100% {
            border-radius: 99%;
        }
    }    
    @keyframes textComeOut3 {
        0%{
            position: absolute;
            top: 15vh;
            left: 75vw;
            font-size: 1%;
            color: black;
            }
    
            70%{
                position: absolute;
                top: 15vh;
                left: 75vw;
                font-size: 1%;
                color: black;
                }
        
        100%{
            position: absolute;
            top: 38vh;
            left: 75vw;
            font-size: 1vw;
            color: white;
            }
    } 
    @keyframes textComeOut2 {
        0%{
            position: absolute;
            top: 15vh;
            left: 51vw;
            font-size: 1%;
            color: black;
            }
    
            70%{
                position: absolute;
                top: 15vh;
                left: 51vw;
                font-size: 1%;
                color: black;
                }
        
        100%{
            position: absolute;
            top: 36vh;
            left: 50vw;
            font-size: 1vw;
            color: white;
            }
    }    
    @keyframes textComeOut1 {
        0%{
            position: absolute;
            top: 15vh;
            left: 25vw;
            color: black;
            }
    
            70%{
                position: absolute;
                top: 15vh;
                left: 25vw;
                color: black;
                }
        
        100%{
            position: absolute;
            top: 50vh;
            left: 25vw;
            font-size: 1vw;
            color: white;
            }
    }    
    @keyframes imgSize3 {
        0% {
            position: absolute;
            left: 75%;
            width: 0%;
            height: 0%;
            }
    
        100% {
            position: absolute;
            left: 75%;
            width: 24.7%;
            height: 24.7%;
            }
    }    
    @keyframes imgSize2 {
        0% {
            position: absolute;
            left: 51%;
            width: 0%;
            height: 0%;
            }
    
        100% {
            position: absolute;
            left: 51%;
            width: 23%;
            height: 23%;
            }
    }    
    @keyframes imgSize1 {
        0% {
            position: absolute;
            left: 25%;
            width: 0%;
            height: 0%;
            }
    
        100% {
            position: absolute;
            left: 25%;
            width: 25%;
            height: 35%;
            }
    }    
    @keyframes info-Text1 {
        0% {
            /*position: absolute;*/
            opacity: 0.0;
            /*top: 10vh;
            left: 16vw;
            font-size: 20px;*/
        }
        70% {
            /*position: absolute;*/
            opacity: 0.0;
            /*top: 10vh;
            left: 16vw;
            font-size: 20px;*/    
        }
        100% {
            /*position: absolute;*/
            opacity: 1.5;
            /*top: 10vh;
            left: 16vw;
            font-size: 20px;*/    
        }
    }    
    .main-content-aboutMeContent-text2-number1 {
        position: absolute;
        top: 16vh;
        left: 16vw;
        font-size: 20px;
    }
    .main-content-aboutMeContent-text2-number1-animation {
        animation: info-Text1 7s ease-out forwards;
    }
    .main-content-aboutMeContent-text2-number2 {
        position: absolute;
        top: 14vh;
        left: 17vw;
        font-size: 20px;
    }
    .main-content-aboutMeContent-text2-number2-animation {
        animation: info-Text1 8s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter0-opacity0 {
        opacity: 0.0;
        animation: letterSee 1s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter1-opacity0 {
        opacity: 0.0;
        animation: letterSee 2s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter2-opacity0 {
        opacity: 0.0;
        animation: letterSee 3s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter3-opacity0 {
        opacity: 0.0;
        animation: letterSee 4s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter4-opacity0 {
        opacity: 0.0;
        animation: letterSee 5s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter5-opacity0 {
        opacity: 0.0;
        animation: letterSee 6s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter6-opacity0 {
        opacity: 0.0;
        animation: letterSee 7s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter7-opacity0 {
        opacity: 0.0;
        animation: letterSee 8s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter8-opacity0 {
        opacity: 0.0;
        animation: letterSee 9s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter9-opacity0 {
        opacity: 0.0;
        animation: letterSee 10s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter10-opacity0 {
        opacity: 0.0;
        animation: letterSee 11s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter11-opacity0 {
        opacity: 0.0;
        animation: letterSee 12s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter12-opacity0 {
        opacity: 0.0;
        animation: letterSee 13s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter13-opacity0 {
        opacity: 0.0;
        animation: letterSee 14s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter14-opacity0 {
        opacity: 0.0;
        animation: letterSee 15s ease-out forwards;
    }    
    .main-content-aboutMeContent-text3-letter15-opacity0 {
        opacity: 0.0;
        animation: letterSee 16s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter16-opacity0 {
        opacity: 0.0;
        animation: letterSee 17s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter17-opacity0 {
        opacity: 0.0;
        animation: letterSee 18s ease-out forwards;
    }
    #main-content-aboutMeContent-text1-letter1 {
        position: absolute;
        opacity: 1.5;
        top: 12vh;
        left: 16vw;
        font-size: +20px;
    }
    .main-content-aboutMeContent-text1-letter1-animation {
        animation: info-Text1 7s ease-out forwards;
    }
    .main-content-aboutMeContent-text1 {
        position: absolute;
        top: 70vh;
        left: 90vw;
    }
    
    .main-content-aboutMeContent-text1-animation {
        animation: move1 5s ease-in-out forwards;
    }
    .main-content-aboutMeContent-text2 {
        position: absolute;
        top: 50vh;
        left: 50vw;
    }
    
    .main-content-aboutMeContent-text2-animation {
        animation: move2 5s ease-in-out forwards;
    }
    .main-content-aboutMeContent-text3 {
        position: absolute;
        top: 95vh;
        left: 20vw;
    }
    .main-content-aboutMeContent-text3-letter1 {
        position: absolute;
        top: 21vh;
        left: 16vw;
        font-size: 20px;
    }
    
    .main-content-aboutMeContent-text3-animation {
        animation: move3 5s ease-in-out forwards;
    }    
    .main-content-aboutMeContent-rewardContent-img1 {
        position: absolute;
        top: 11vh;
        left: 25vh;
        width: 25vw;
        height: 35vh;
        animation: imgSize1 8s ease-in-out forwards;
    }
    .main-content-aboutMeContent-rewardContent-img2 {
        position: absolute;
        top: 11vh;
        left: 51vw;
        width: 23vw;
        height: 23vh;
        animation: imgSize2 8s ease-in-out forwards;
    }
    .main-content-aboutMeContent-rewardContent-img3 {
        position: absolute;
        top: 11vh;
        left: 75vw;
        width: 24.7vw;
        height: 24.7vh;
        animation: imgSize3 8s ease-in-out forwards;
    }
    .main-content-aboutMeContent-rewardContent-text1 {
        position: absolute;
        top: 46vh;
        left: 25vw;
        animation: textComeOut1 8s ease-in-out forwards;
    }
    .main-content-aboutMeContent-rewardContent-text2 {
        position: absolute;
        top: 35vh;
        left: 51vw;
        width: 22vw;
        font-size: 66%;
        animation: textComeOut2 8s ease-in-out forwards;
    }
    .main-content-aboutMeContent-rewardContent-text3 {
        position: absolute;
        top: 35vh;
        left: 75vw;
        font-size: 66%;
        animation: textComeOut3 8s ease-in-out forwards;
    }
    .main-content-aboutMeContent-img1 {
        position: absolute;
        top: 11vh;
        width: 10vw;
        height: 20vh;
    }
    
    .main-content-aboutMeContent-img1-animation {
        animation: IMGresize 5s ease-in-out forwards;
    }    
}

@media (max-width: 768px) {
    @keyframes letterSee {
        0% {
            opacity: 0.0;
        }
        100% {
            opacity: 1.5;
            font-size: 1.5vw;
        }
    }
    @keyframes IMGresize {
        0% {
            /*transform: scaleX(-1);*/
            transform: translate(-20vw);
        }
    
        60% {
            border-radius: 0%;
        }
    
        100% {
            border-radius: 99%;
        }
    }    
    @keyframes textComeOut3 {
        0%{
            position: absolute;
            top: 15vh;
            left: 75vw;
            font-size: 1%;
            color: black;
            }
    
            70%{
                position: absolute;
                top: 15vh;
                left: 75vw;
                font-size: 1%;
                color: black;
                }
        
        100%{
            position: absolute;
            top: 32vh;
            left: 75vw;
            font-size: 1vw;
            color: white;
            }
    } 
    @keyframes textComeOut2 {
        0%{
            position: absolute;
            top: 15vh;
            left: 51vw;
            font-size: 1%;
            color: black;
            }
    
            70%{
                position: absolute;
                top: 15vh;
                left: 51vw;
                font-size: 1%;
                color: black;
                }
        
        100%{
            position: absolute;
            top: 31vh;
            left: 50vw;
            font-size: 1vw;
            color: white;
            }
    }    
    @keyframes textComeOut1 {
        0%{
            position: absolute;
            top: 15vh;
            left: 25vw;
            color: black;
            }
    
            70%{
                position: absolute;
                top: 15vh;
                left: 25vw;
                color: black;
                }
        
        100%{
            position: absolute;
            top: 41vh;
            left: 25vw;
            font-size: 1vw;
            color: white;
            }
    }    
    @keyframes imgSize3 {
        0% {
            position: absolute;
            left: 75%;
            width: 0%;
            height: 0%;
            }
    
        100% {
            position: absolute;
            left: 75%;
            width: 24.7%;
            height: 24.7%;
            }
    }    
    @keyframes imgSize2 {
        0% {
            position: absolute;
            left: 51%;
            width: 0%;
            height: 0%;
            }
    
        100% {
            position: absolute;
            left: 51%;
            width: 23%;
            height: 23%;
            }
    }    
    @keyframes imgSize1 {
        0% {
            position: absolute;
            left: 25%;
            width: 0%;
            height: 0%;
            }
    
        100% {
            position: absolute;
            left: 25%;
            width: 25%;
            height: 35%;
            }
    }    
    @keyframes info-Text1 {
        0% {
            /*position: absolute;*/
            opacity: 0.0;
            /*top: 10vh;
            left: 16vw;
            font-size: 20px;*/
        }
        70% {
            /*position: absolute;*/
            opacity: 0.0;
            /*top: 10vh;
            left: 16vw;
            font-size: 20px;*/    
        }
        100% {
            /*position: absolute;*/
            opacity: 1.5;
            /*top: 10vh;
            left: 16vw;
            font-size: 20px;*/    
        }
    }    
    .main-content-aboutMeContent-text2-number1 {
        position: absolute;
        top: 16vh;
        left: 18vw;
        font-size: 20px;
    }
    .main-content-aboutMeContent-text2-number1-animation {
        animation: info-Text1 7s ease-out forwards;
    }
    .main-content-aboutMeContent-text2-number2 {
        position: absolute;
        top: 14vh;
        left: 17vw;
        font-size: 20px;
    }
    .main-content-aboutMeContent-text2-number2-animation {
        animation: info-Text1 8s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter0-opacity0 {
        opacity: 0.0;
        animation: letterSee 1s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter1-opacity0 {
        opacity: 0.0;
        animation: letterSee 2s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter2-opacity0 {
        opacity: 0.0;
        animation: letterSee 3s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter3-opacity0 {
        opacity: 0.0;
        animation: letterSee 4s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter4-opacity0 {
        opacity: 0.0;
        animation: letterSee 5s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter5-opacity0 {
        opacity: 0.0;
        animation: letterSee 6s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter6-opacity0 {
        opacity: 0.0;
        animation: letterSee 7s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter7-opacity0 {
        opacity: 0.0;
        animation: letterSee 8s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter8-opacity0 {
        opacity: 0.0;
        animation: letterSee 9s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter9-opacity0 {
        opacity: 0.0;
        animation: letterSee 10s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter10-opacity0 {
        opacity: 0.0;
        animation: letterSee 11s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter11-opacity0 {
        opacity: 0.0;
        animation: letterSee 12s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter12-opacity0 {
        opacity: 0.0;
        animation: letterSee 13s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter13-opacity0 {
        opacity: 0.0;
        animation: letterSee 14s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter14-opacity0 {
        opacity: 0.0;
        animation: letterSee 15s ease-out forwards;
    }    
    .main-content-aboutMeContent-text3-letter15-opacity0 {
        opacity: 0.0;
        animation: letterSee 16s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter16-opacity0 {
        opacity: 0.0;
        animation: letterSee 17s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter17-opacity0 {
        opacity: 0.0;
        animation: letterSee 18s ease-out forwards;
    }
    #main-content-aboutMeContent-text1-letter1 {
        position: absolute;
        opacity: 1.5;
        top: 12vh;
        left: 18vw;
        font-size: +20px;
    }
    .main-content-aboutMeContent-text1-letter1-animation {
        animation: info-Text1 7s ease-out forwards;
    }
    .main-content-aboutMeContent-text1 {
        position: absolute;
        top: 70vh;
        left: 90vw;
    }
    
    .main-content-aboutMeContent-text1-animation {
        animation: move1 5s ease-in-out forwards;
    }
    .main-content-aboutMeContent-text2 {
        position: absolute;
        top: 50vh;
        left: 50vw;
    }
    
    .main-content-aboutMeContent-text2-animation {
        animation: move2 5s ease-in-out forwards;
    }
    .main-content-aboutMeContent-text3 {
        position: absolute;
        top: 95vh;
        left: 20vw;
    }
    .main-content-aboutMeContent-text3-letter1 {
        position: absolute;
        top: 21vh;
        left: 18vw;
        font-size: 20px;
    }
    
    .main-content-aboutMeContent-text3-animation {
        animation: move3 5s ease-in-out forwards;
    }    
    .main-content-aboutMeContent-rewardContent-img1 {
        position: absolute;
        top: 11vh;
        left: 25vh;
        width: 25vw;
        height: 35vh;
        animation: imgSize1 8s ease-in-out forwards;
    }
    .main-content-aboutMeContent-rewardContent-img2 {
        position: absolute;
        top: 11vh;
        left: 51vw;
        width: 23vw;
        height: 23vh;
        animation: imgSize2 8s ease-in-out forwards;
    }
    .main-content-aboutMeContent-rewardContent-img3 {
        position: absolute;
        top: 11vh;
        left: 75vw;
        width: 24.7vw;
        height: 24.7vh;
        animation: imgSize3 8s ease-in-out forwards;
    }
    .main-content-aboutMeContent-rewardContent-text1 {
        position: absolute;
        top: 46vh;
        left: 25vw;
        animation: textComeOut1 8s ease-in-out forwards;
    }
    .main-content-aboutMeContent-rewardContent-text2 {
        position: absolute;
        top: 35vh;
        left: 51vw;
        width: 22vw;
        font-size: 66%;
        animation: textComeOut2 8s ease-in-out forwards;
    }
    .main-content-aboutMeContent-rewardContent-text3 {
        position: absolute;
        top: 35vh;
        left: 75vw;
        font-size: 66%;
        animation: textComeOut3 8s ease-in-out forwards;
    }
    .main-content-aboutMeContent-img1 {
        position: absolute;
        top: 11vh;
        width: 10vw;
        height: 20vh;
    }
    
    .main-content-aboutMeContent-img1-animation {
        animation: IMGresize 5s ease-in-out forwards;
    }    
}

@media (max-width: 600px) {
    @keyframes letterSee {
        0% {
            opacity: 0.0;
        }
        100% {
            opacity: 1.5;
        }
    }
    @keyframes IMGresize {
        0% {
            /*transform: scaleX(-1);*/
            transform: translate(-100vw);
        }
    
        60% {
            border-radius: 0%;
        }
    
        100% {
            border-radius: 99vw;
            width: 20vw;
            top: 9vh;
            left: 15vw;
        }
    }    
    @keyframes textComeOut3 {
        0%{
            position: absolute;
            top: 15vh;
            left: 75vw;
            font-size: 1%;
            color: black;
            }
    
            70%{
                position: absolute;
                top: 15vh;
                left: 75vw;
                font-size: 1%;
                color: black;
                }
        
        100%{
            position: absolute;
            top: 81vh;
            left: 50vw;
            font-size: 2vw;
            color: white;
            }
    } 
    @keyframes textComeOut2 {
        0%{
            position: absolute;
            top: 15vh;
            left: 51vw;
            font-size: 1%;
            color: black;
            }
    
            70%{
                position: absolute;
                top: 15vh;
                left: 51vw;
                font-size: 1%;
                color: black;
                }
        
        100%{
            position: absolute;
            top: 128vh;
            left: 0vw;
            font-size: 2.5vw;
            color: white;
            }
    }    
    @keyframes textComeOut1 {
        0%{
            position: absolute;
            top: 15vh;
            left: 25vw;
            color: black;
            }
    
            70%{
                position: absolute;
                top: 15vh;
                left: 25vw;
                color: black;
                }
        
        100%{
            position: absolute;
            top: 82vh;
            left: 0vw;
            font-size: 2.4vw;
            color: white;
            }
    }    
    @keyframes imgSize3 {
        0% {
            position: absolute;
            left: 75%;
            width: 0%;
            height: 0%;
            }
    
        100% {
            position: absolute;
            left: 50vw;
            top: 31vh;
            width: 50vw;
            height: 50vh;
            }
    }    
    @keyframes imgSize2 {
        0% {
            position: absolute;
            left: 51%;
            width: 0%;
            height: 0%;
            }
    
        100% {
            position: absolute;
            left: 0vw;
            top: 88vh;
            width: 100vw;
            height: 40vh;
            }
    }    
    @keyframes imgSize1 {
        0% {
            position: absolute;
            left: 25%;
            width: 0%;
            height: 0%;
            }
    
        100% {
            position: absolute;
            left: 0%;
            top: 31vh;
            width: 50vw;
            height: 50vh;
            }
    }    
    @keyframes info-Text1 {
        0% {
            /*position: absolute;*/
            opacity: 0.0;
            /*top: 10vh;
            left: 16vw;
            font-size: 20px;*/
        }
        70% {
            /*position: absolute;*/
            opacity: 0.0;
            /*top: 10vh;
            left: 16vw;
            font-size: 20px;*/    
        }
        100% {
            /*position: absolute;*/
            opacity: 1.5;
            /*top: 10vh;
            left: 16vw;
            font-size: 20px;*/    
        }
    }    
    .main-content-aboutMeContent-text2-number1 {
        position: absolute;
        top: 16vh;
        left: 16vw;
        font-size: 20px;
    }
    .main-content-aboutMeContent-text2-number1-animation {
        animation: info-Text1 7s ease-out forwards;
    }
    .main-content-aboutMeContent-text2-number2 {
        position: absolute;
        top: 14vh;
        left: 17vw;
        font-size: 20px;
    }
    .main-content-aboutMeContent-text2-number2-animation {
        animation: info-Text1 8s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter0-opacity0 {
        opacity: 0.0;
        font-size: 3vw;
        animation: letterSee 1s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter1-opacity0 {
        opacity: 0.0;
        font-size: 3vw;
        animation: letterSee 2s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter2-opacity0 {
        opacity: 0.0;
        font-size: 3vw;
        animation: letterSee 3s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter3-opacity0 {
        opacity: 0.0;
        font-size: 3vw;
        animation: letterSee 4s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter4-opacity0 {
        opacity: 0.0;
        font-size: 3vw;
        animation: letterSee 5s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter5-opacity0 {
        opacity: 0.0;
        font-size: 3vw;
        animation: letterSee 6s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter6-opacity0 {
        opacity: 0.0;
        font-size: 3vw;
        animation: letterSee 7s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter7-opacity0 {
        opacity: 0.0;
        font-size: 3vw;
        animation: letterSee 8s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter8-opacity0 {
        opacity: 0.0;
        font-size: 3vw;
        animation: letterSee 9s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter9-opacity0 {
        opacity: 0.0;
        font-size: 3vw;
        animation: letterSee 10s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter10-opacity0 {
        opacity: 0.0;
        font-size: 3vw;
        animation: letterSee 11s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter11-opacity0 {
        opacity: 0.0;
        font-size: 3vw;
        animation: letterSee 12s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter12-opacity0 {
        opacity: 0.0;
        font-size: 3vw;
        animation: letterSee 13s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter13-opacity0 {
        opacity: 0.0;
        font-size: 3vw;
        animation: letterSee 14s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter14-opacity0 {
        opacity: 0.0;
        font-size: 3vw;
        animation: letterSee 15s ease-out forwards;
    }    
    .main-content-aboutMeContent-text3-letter15-opacity0 {
        opacity: 0.0;
        font-size: 3vw;
        animation: letterSee 16s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter16-opacity0 {
        opacity: 0.0;
        font-size: 3vw;
        animation: letterSee 17s ease-out forwards;
    }
    .main-content-aboutMeContent-text3-letter17-opacity0 {
        opacity: 0.0;
        font-size: 3vw;
        animation: letterSee 18s ease-out forwards;
    }
    #main-content-aboutMeContent-text1-letter1 {
        position: absolute;
        opacity: 1.5;
        top: 12vh;
        left: 16vw;
        font-size: +20px;
    }
    .main-content-aboutMeContent-text1-letter1-animation {
        animation: info-Text1 7s ease-out forwards;
    }
    .main-content-aboutMeContent-text1 {
        position: absolute;
        top: 70vh;
        left: 90vw;
    }
    
    .main-content-aboutMeContent-text1-animation {
        animation: move1 5s ease-in-out forwards;
    }
    .main-content-aboutMeContent-text2 {
        position: absolute;
        top: 50vh;
        left: 50vw;
    }
    
    .main-content-aboutMeContent-text2-animation {
        animation: move2 5s ease-in-out forwards;
    }
    .main-content-aboutMeContent-text3 {
        position: absolute;
        top: 95vh;
        left: 20vw;
    }
    .main-content-aboutMeContent-text3-letter1 {
        position: absolute;
        top: 21vh;
        left: 16vw;
        font-size: 20px;
    }
    
    .main-content-aboutMeContent-text3-animation {
        animation: move3 5s ease-in-out forwards;
    }    
    .main-content-aboutMeContent-rewardContent-img1 {
        position: absolute;
        top: 11vh;
        left: 25vh;
        width: 25vw;
        height: 35vh;
        animation: imgSize1 8s ease-in-out forwards;
    }
    .main-content-aboutMeContent-rewardContent-img2 {
        position: absolute;
        top: 11vh;
        left: 51vw;
        width: 23vw;
        height: 23vh;
        animation: imgSize2 8s ease-in-out forwards;
    }
    .main-content-aboutMeContent-rewardContent-img3 {
        position: absolute;
        top: 11vh;
        left: 75vw;
        width: 24.7vw;
        height: 24.7vh;
        animation: imgSize3 8s ease-in-out forwards;
    }
    .main-content-aboutMeContent-rewardContent-text1 {
        position: absolute;
        top: 46vh;
        left: 25vw;
        animation: textComeOut1 8s ease-in-out forwards;
    }
    .main-content-aboutMeContent-rewardContent-text2 {
        position: absolute;
        top: 35vh;
        left: 51vw;
        width: 100vw;
        font-size: 66%;
        animation: textComeOut2 8s ease-in-out forwards;
    }
    .main-content-aboutMeContent-rewardContent-text3 {
        position: absolute;
        top: 35vh;
        left: 75vw;
        font-size: 66%;
        animation: textComeOut3 8s ease-in-out forwards;
    }
    .main-content-aboutMeContent-img1 {
        position: absolute;
        top: 11vh;
        width: 10vw;
        height: 20vh;
    }
    
    .main-content-aboutMeContent-img1-animation {
        animation: IMGresize 5s ease-in-out forwards;
    }
    #main-content-aboutMeContent-text1-letter1 {
        position: absolute;
        left: 56vw;
    }
    #main-content-aboutMeContent-text2-number1 {
        position: absolute;
        left: 56vw;
    }
    #main-content-aboutMeContent-text3-letter2 {
        position: absolute;
        top: 31vw;
        left: 56vw;
    }
}