@media (max-width: 1919px) {
    .main-content-contactMe-img {
        position: absolute;
        top: 11vh;
        left: 20vw;
        width: 79vw;
        height: 88.8vh;
    }
    .main-content-contactMe-text1 {
        min-width: 0vw;
        width: 23vw;
    }
}