@keyframes gone {
    0% {
        opacity: 1.5;
        position: absolute;
        left: 0px;
        top: 0px;    
    }

    90% {
        opacity: 1.5;
        position: absolute;
        left: 0px;
        top: 0px;    
    }

    100% {
        opacity: 0.0;
        position: absolute;
        left: 0px;
        top: 0px;    
    }
}

#aboutCreater {
    /*animation-name: into;
    animation-iteration-count: 1;
    animation-duration: 30s;
    animation-delay: 20s;*/
    /*animation: into 60s ease-in forwards;*/
    animation: gone 60s ease-in forwards 1;
    /*position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;*/
}

#aboutCreater-text {
    margin-top: -8px;
    margin-left: 25vw;
    margin-bottom: -8px;
    margin-right: -8px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 50vw;
}