@import "greetings.css";
@keyframes show {
    0% {
        opacity: 0.0;
        position: absolute;
        left: 0px;
        top: 0px;    
    }

    90% {
        opacity: 0.0;
        position: absolute;
        left: 0px;
        top: 0px;    
    }

    100% {
        opacity: 1.5;
        position: absolute;
        left: 0px;
        top: 0px;    
    }
}

@keyframes test {
    0% {
        /*opacity: 0.0;*/
        color: blue;
    }
    100% {
        /*opacity: 0.0;*/
        color: green;
    }
}

    #animationTest1 {
        animation: test 60s ease-in-out forwards;
    }


    body {
        background-color: black;
        color: white;
    }

    #resume {
    /*animation: resume 60s ease-in forwards 1;*/
    animation: show 20s ease-in forwards 1;
    position: absolute;
    left: 0px;
    top: 0px;
    display: grid;
    /*grid-template-columns: 20vw 80vw;*/
    /*grid-template-columns: auto auto;*/
    grid-template-columns: auto 1fr;
}
    
    #resume-left {
    color: white;
    height: 100vh;
    background-color: black;
    border-right-style: solid;
    border-right-width: 1px;
    }
    
    #resume-left-userInfo {
    margin-top: -8px;
    margin-bottom: -8px;
    background-color: black;
    width: 100%;
    height: auto;
    font-size: 3vw;
    }
    
    #resume-left-userInfo-innerTop {
    border-bottom-style: solid;
    border-width: 1px;
    margin-bottom: -8px;
    font-size: 116%;
    /*font-size: auto;*/
    }

    #resume-left-userInfo-innerMiddle {
    margin: -8px;
    margin-top: 8px;
    margin-left: 8px;
    margin-bottom: 8px;
    font-size: 50%;
    /*font-size: auto;*/
    }    

    #resume-left-userInfo-innerBottom {
    margin: -8px;
    margin-left: 8px;
    font-size: 50%;
    /*font-size: auto;*/
    }    
    
    #resume-left-skillsTop {
    /*margin-top: -8px;*/
    border-bottom-style: solid;
    height: auto;
    width: auto;
    font-size: 1vw;
    border-width: 1px;
    }

    #resume-left-skillslist {
    margin-left: 5px;
    }

    #resume-left-froofOfSkills {
    border-top-style: solid;
    border-width: 1px;
    }

    #resume-left-froofOfSkills-inner {
    margin-left: 5px;
    }
    
    #resume-right-objective {
    text-align: center;
    color: white;
    }

    #resume-right-objectiveBody {
    text-align: center;
    color: white;
    /*test under
    font-size: 1px;*/
    }

    #resume-right-objective2 {
    text-align: center;
    color: white;
    }

    #resume-right-objectiveBody2 {
    text-align: center;
    color: white;
    /*test under
    font-size: 1px;*/
    }