#userInfo {
    color: yellow;
    margin-top: -8px;
    }#terminalSearch {
    background-color: black;
    color: white;
    width: 10vw;
    height: 2vh;
    }#terminal {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    background: black;
    color: white;
    }#pcALL {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: auto;
    }#bar {
    position: relative;
    left: 0px;
    top: 95%;
    margin-top: -8px;
    margin-left: -8px;
    width: 100%;
    height: auto;
    background-color: black;
    }#chrome {
    width: 4%;
    }#main {
    background-color: black;
    width: 80vw;
    height: 70vh;
    margin-top: 11vh;
    margin-bottom: 12vh;
    position:absolute;
    top: 3vh;
    left: 10vw;
    }#pcBackground {
    position: relative;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 92vh;
    }body {
    font-size: 2vw;
    }#aboutCreater {
    color: white;
    }#chromeSearch {
    position: relative;
    top: 3vh;
    left: 5vw;
    width: 60vw;
    }#closeMain {
    color: white;
    margin-top: -8px;
    position: relative;
    top: 0px;
    left:78vw;
    }#home1 {
    width: 4vw;
    position: absolute;
    top: 0px;
    left: 0px;
    }#info1 {
    font-size: 1vw;
    }#resume {
    position: relative;
    left: 0px;
    top: 0px;
    display: grid;
    grid-template-columns: 10vw 90vw;
    margin-top: -8px;
    margin-left: -8px;
    }#resume-left {
color: black;
    }#resume-left-userInfo {
    background-color: blue;
    width: 100%;
    height: auto;
    font-size: 50%;
    }#terminal-infoDiv {
    display: grid;
    grid-template-columns: 10vw 3vw;
    }#info {
    margin-left: 8px;
    border-radius: 25px;
    width: 10vw;
    height: 5vh;
    }#terminal-infoHelp {
    color: white;
    }
    