.main-content-aboutMeContent-text1-letter5 {
    position: absolute;
    opacity: 1.5;
    top: 10vh;
    left: 21vw;
    font-size: 20px;
}

.main-content-aboutMeContent-text1-letter5-animation {
    animation: info-Text1 11s ease-out forwards;
}