@keyframes imgSize2 {
    0% {
        position: absolute;
        left: 51%;
        width: 0%;
        height: 0%;
        }

    100% {
        position: absolute;
        left: 51%;
        width: 23%;
        height: 23%;
        }
}

.main-content-aboutMeContent-rewardContent-img2 {
    position: absolute;
    top: 11%;
    left: 51%;
    width: 23%;
    height: 23%;
    animation: imgSize2 8s ease-in-out forwards;
}