@keyframes textComeOut3 {
    0%{
        position: absolute;
        top: 15%;
        left: 75%;
        font-size: 1%;
        color: black;
        }

        70%{
            position: absolute;
            top: 15%;
            left: 75%;
            font-size: 1%;
            color: black;
            }
    
    100%{
        position: absolute;
        top: 35%;
        left: 75%;
        font-size: 66%;
        color: white;
        }
}

.main-content-aboutMeContent-rewardContent-text3 {
    position: absolute;
    top: 35%;
    left: 75%;
    font-size: 66%;
    animation: textComeOut3 8s ease-in-out forwards;
}