@keyframes textComeOut1 {
    0%{
        position: absolute;
        top: 15%;
        left: 25%;
        color: black;
        }

        70%{
            position: absolute;
            top: 15%;
            left: 25%;
            color: black;
            }
    
    100%{
        position: absolute;
        top: 46%;
        left: 25%;
        color: white;
        }
}

.main-content-aboutMeContent-rewardContent-text1 {
    position: absolute;
    top: 46%;
    left: 25%;
    animation: textComeOut1 8s ease-in-out forwards;
}