.main-content-aboutMeContent-text1-letter2 {
    position: absolute;
    opacity: 1.5;
    top: 10vh;
    left: 17vw;
    font-size: 20px;
}

.main-content-aboutMeContent-text1-letter2-animation {
    animation: info-Text1 8s ease-out forwards;
}